</body>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>
<!-- Latest compiled and minified JavaScript -->
<footer>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        created by <a href="https://www.linkedin.com/in/suraj-regmi-156159148/">Suraj Regmi
      </p>
    </div>
  </div>
</footer>

</html>