<% include partials/header.ejs %>
<div class="container imagePara">
  <div class="leftImage" style="float: left">
    <img
      src="images/SurajRegmiPhoto.jpeg"
      alt="Pineapple"
      style="width: 400px; height: 400px; margin-right: 15px"
    />
  </div>
  <div class="legalName"><h3>Suraj Regmi</h3></div>
  <div class="description">
    <p>
      Hello there! I am Suraj Regmi, located in Scarborough, Ontario. I am a
      computer science graduate, interested in anything related to technologies.
      While I am not coding, I like to watch movies, travel to new places and of
      course try new cuisine.
    </p>
  </div>
</div>
<% include partials/footer.ejs %>
