<% include partials/header.ejs %>
<div class="container">
  <div class="jumbotron">
    <h3 style="text-align: center">Welcome to Suraj Regmi's Profile</h3>
  </div>
</div>
<div class="container bodyPara">
  Graduated in Computer Science from Deerwalk Institute of Technology in 2017, I
  have been involved in many projects in many companies. My main programming
  langauge is Java, But I am quite comfortable with javascript, python and
  react. My mission is to be good at programming and explore different
  interesting fields like machine learning, robotics etc.
</div>
<% include partials/footer.ejs %>
