<% include partials/header.ejs %>
<div class="container imagePara">
  <div class="project">
    <div class="leftImage" style="float: left">
      <img
        src="images/machinelearning.jpg"
        alt="Pineapple"
        style="width: 150px; height: 100px; margin-right: 15px"
      />
    </div>
    <div class="legalName"><h3>Image Processing and Machine Learning</h3></div>
    <div class="description">
      <p>
        I will write image processing and machine learning programs for you. Implemment in python, openCV.
      </p>
    </div>
  </div>
</div>
</div>
<div class="container imagePara">
  <div class="project">
    <div class="leftImage" style="float: left">
      <img
        src="images/spring.png"
        alt="Pineapple"
        style="width: 150px; height: 100px; margin-right: 15px"
      />
    </div>
    <div class="legalName"><h3>Spring Boot Application Development</h3></div>
    <div class="description">
      <p>
        I will design, develop spring boot application in Java-11 for you. 
      </p>
    </div>
  </div>
</div>
<div class="container imagePara">
  <div class="project">
    <div class="leftImage" style="float: left">
      <img
        src="images/database.png"
        alt="Pineapple"
        style="width: 150px; height: 100px; margin-right: 15px"
      />
    </div>
    <div class="legalName"><h3> Database Schema Design </h3></div>
    <div class="description">
      <p>
        I will design Database Schema for you.
      </p>
    </div>
  </div>
</div>
</div>
<% include partials/footer.ejs %>
